/.vscode
/eigenfish.png
/eigfish_noaspect.png
/littlewood2_deg19.png
/littlewood3_deg19.png
/littlewood4_deg19.png
/littlewood5_deg22.png
/littlewood6_deg23.png
/littlewood6_deg23_small.png
/littlewood7_deg23.png
/littlewood8_deg23.png
/littlewood8_deg23_small.png
/littlewood_deg19.png